
<div fxLayout="row">
  <mat-card>
    <p>1</p>
  </mat-card>
</div>

<div fxLayout="column">
  <mat-card>
    <p>1</p>
  </mat-card>
</div><!--
  ***** BASIC ROW *****
-->
<p></p>
<h2>Basic Row</h2>

<div fxLayout="row"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** BASIC COLUMN *****
-->

<h2>Basic Column</h2>

<div fxLayout="column"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** REVERSED ROW *****
-->

<h2>Reversed Row</h2>

<div fxLayout="row-reverse"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** REVERSED COLUMN *****
-->

<h2>Reversed Column</h2>

<div fxLayout="column-reverse"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>



<div fxLayout="column"
     fxLayoutAlign="start center"
     class="main-content"
>
  <mat-card>
    <div fxLayout="row"
         fxLayoutAlign="start end"
    >

      <h1 fxFlex fxFlexAlign="center">
        Welcome to the Angular Flex Layout course!
      </h1>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="start end"
    >
      <p fxFlex fxFlexAlign="center">
        After you complete this course you will be fully capable of creating beautiful, responsive layouts in Angular.
      </p>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="start end"
    >
      <p fxFlex fxFlexAlign="center">
        To choose the component you want to work on, just select it using the button above.
      </p>
    </div>
  </mat-card>

</div>
