<h2>
  Left horizontal - Row</h2>

<div fxLayout="row" fxLayoutAlign="start start">
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Right horizontal - Row</h2>

<div fxLayout="row" fxLayoutAlign="end start">
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Left horizontal - Column</h2>

<div fxLayout="column" fxLayoutAlign="start start">
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Right horizontal - Column</h2>

<div fxLayout="column" fxLayoutAlign="start end">
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Top Vertical - Row </h2>

<div fxLayout="row" fxLayoutAlign="start start"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  bottom Vertical - Row </h2>

<div fxLayout="row" fxLayoutAlign="start end"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Center Row - horizontal </h2>

<div fxLayout="row" fxLayoutAlign="center start"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Center Row - vertical </h2>

<div fxLayout="row" fxLayoutAlign="start center"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Center Column - horizontal </h2>

<div fxLayout="column" fxLayoutAlign="start center"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Center Column - vertically </h2>

<div fxLayout="column" fxLayoutAlign="center start"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Space Around  - Row  </h2>

<div fxLayout="row" fxLayoutAlign="space-around start"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Space between  - Row  </h2>

<div fxLayout="row" fxLayoutAlign="space-between start"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Space around   - column  </h2>

<div fxLayout="column" fxLayoutAlign="space-around start"
     class="containerx"
     style="height: 100vh"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>
<br><br>
<h2>
  Space between   - column  </h2>

<div fxLayout="column" fxLayoutAlign="space-between start"
     class="containerx"
     style="height: 100vh"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT LEFT HORIZONTALLY, TOP VERTICALLY *****
-->

<h2>Left Horizontal - Top Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="start start"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT RIGHT HORIZONTALLY, TOP VERTICALLY *****
-->

<h2>Right Horizontal - Top Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="end start"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT LEFT HORIZONTALLY, BOTTOM VERTICALLY *****
-->

<h2>Left Horizontal - Bottom Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="start end"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT RIGHT HORIZONTALLY, BOTTOM VERTICALLY *****
-->

<h2>Right Horizontal - Bottom Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="end end"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT CENTER HORIZONTALLY, TOP VERTICALLY *****
-->

<h2>Center Horizontal - Top Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="center start"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT CENTER HORIZONTALLY, BOTTOM VERTICALLY *****
-->

<h2>Center Horizontal - Bottom Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="center end"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - CONTENT CENTER HORIZONTALLY, CENTER VERTICALLY *****
-->

<h2>Center Horizontal - Center Vertical</h2>

<div fxLayout="row"
     fxLayoutAlign="center center"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - SPACE AROUND *****
-->

<h2>Space Around</h2>

<div fxLayout="row"
     fxLayoutAlign="space-around start"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** ROWS - SPACE Between *****
-->

<h2>Space Between</h2>

<div fxLayout="row"
     fxLayoutAlign="space-between start"
     class="containerx"
>
  <mat-card>
    <p>
      1
    </p>
  </mat-card>
  <mat-card>
    <p>
      2
    </p>
  </mat-card>
  <mat-card>
    <p>
      3
    </p>
  </mat-card>
  <mat-card>
    <p>
      4
    </p>
  </mat-card>
</div>

<!--
  ***** STRETCH *****
-->

<!-- remember that stretch only applies to cross axis, just like space-around or space between only applies
    to main axis
    Stretch is the default for cross axis.
    Stretch will make everything within that div stretch to fit the cross axis width (column) or height (row).
-->

<h2>Stretch - Row</h2>

<div fxLayout="row"
     fxLayoutAlign="start stretch"
     class="containerx"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
  <mat-card>
    <p>4</p>
  </mat-card>
</div>

<h2>Stretch - Column</h2>

<div fxLayout="column"
     fxLayoutAlign="start stretch"
     class="containerx"
     style="height: 70vh"
>
  <mat-card>
    <p>1</p>
  </mat-card>
  <mat-card>
    <p>2</p>
  </mat-card>
  <mat-card>
    <p>3</p>
  </mat-card>
  <mat-card>
    <p>4</p>
  </mat-card>
</div>















