<h1>Home</h1>
<p>Angular 2/4 - Animation Tutorial & Example</p>
  <!-- 1 -->
  <div>
    <label for=""> (1) Start </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/start">
            Start
        </a>
      </li>
    </ul>
  </div>
  <!-- 2 -->
  <div>
    <label for=""> (2) Container Basics </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/containerbasics">
            Container Basics
        </a>
      </li>
    </ul>
  </div>
  <!-- 3 -->
  <div>
    <label for=""> (3) Basic Row Column </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/baiscrowcolumn">
            Basic Row Column
        </a>
      </li>
    </ul>
  </div>
  <!-- 4 -->
  <div>
    <label for=""> (4) Reversed Row Column </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/reversedrowcolumn">
            Reversed Row Column
        </a>
      </li>
    </ul>
  </div>
  <!-- 5 -->
  <div>
    <label for=""> (5) Main Row Cross Axis </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/manrowcrossaxis">
            Main Row Cross Axis 
        </a>
      </li>
    </ul>
  </div>
  <!--6 -->
  <div>
    <label for=""> (6) Justify Content </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/justifyContent">
            Justify Content
        </a>
      </li>
    </ul>
  </div>
  <!--7 -->
  <div>
    <label for=""> (7) Gap Wrap </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/gapwrap">
          Gap Wrap
        </a>
      </li>
    </ul>
  </div>
  <!--8 -->
  <div>
    <label for=""> (8) Items and Alignments </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/items">
          Items and Alignments
        </a>
      </li>
    </ul>
  </div>
  <!--9 -->
  <div>
    <label for=""> (9) Holy Grail </label>
    <ul class="nav nav-tabs">
      <li routerLinkActive="active">
        <a routerLink="/holy">
          Holy Grail
        </a>
      </li>
    </ul>
  </div>








